<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Angular Shopping Cart</title>
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script src="js/vendor/modernizr.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-ui-router.js"></script>
  <script src="js/ngStorage.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/products/productListController.js"></script>
  <script src="app/products/shoppingCartController.js"></script>
</head>
  <body ng-app="shoppingCartApp">

    <div class="row">
      <div class="large-12 columns">

        <div class="row">
          <div class="large-12 columns">
            
            <nav class="top-bar" data-topbar>
              <ul class="title-area">
                
                <li class="name">
                  <h1>
                    <a href="#">
                      Top Buyers Imports
                    </a>
                  </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
              </ul>
              
              <section class="top-bar-section shopping-cart">
                <ul class="right">
                  <li class="divider"></li>
                  <li>
                  	<a href="#"><img class="shopping-cart-icon" src="/img/shopping-cart-icon.png" alt="Shopping Cart"></img>Shopping Cart</a>
                  </li>
                  <li class="divider"></li>
                </ul>
              </section>
            </nav>
            
          </div>
        </div>

        <div class="row shopping-cart-container" ng-controller="ProductListController as vm">
          
          <div class="large-9 columns">
            <div class="row">

            	<div class="hide-for-small panel">
            	<h3>Products</h3>
            	</div>
              
              <div class="large-12 small-6 columns" ng-repeat="product in vm.products" >
                <div class="panel">
                	<div class="row">
                		<div class="large-4 columns">
                			<img class="large-12 columns" ng-src="{{ product.image }}">
                			<div class="large-12 columns">
                				<span class="tag" ng-repeat="tag in product.tags">{{ tag }}</span>
                			</div>
                		</div>
                		<div class="large-8 columns">
		                  <h5>Item Name</h5>
		                  <p>{{ product.name }}</p>
		                  <h5>Description</h5>
		                  <p>{{ product.description }}</p>
		                  <div class="submit-item-container row">
		                  	<div class="large-4 columns">Available: {{ product.qtyAvailable }}</div>
		                  	<div class="large-2 columns">${{ product.price }}</div>
		                  	<label class="large-1 columns">Qty.</label>
		                  	<input class="large-2 columns" type="text" value="1" name="qty">
		                  	<div class="button add-to-cart large-4 colums" ng-click="vm.addItemToCart($event, $index)" >Add to Cart</div>
		                  </div>
	                  </div>
                	</div>
                </div>
              </div>
              
            </div>
          </div>
          <div ng-controller="ShoppingCartController as vm" class="large-3 small-12 columns">
          	<div class="hide-for-small panel">
          		<h3>Shopping Cart</h3>
          	</div>

          	<div class="panel callout radius">
        			<div class="">
        				<p>Total Items: {{ vm.totalItemCount }}</p>
        				<p>Subtotal: ${{ vm.subtotal }}</p>
        				<p>Shipping Charges: ${{ vm.shippingCharge }}</p>
        				<p>Tax 8.75%: ${{ vm.shippingCharge }}</p>
        				<p>Total Amount: ${{ vm.totalAmount }}</p>
        				<div class="button checkout">Checkout</div>
        			</div>
        		</div>

        		<div ng-repeat="product in vm.inCart" class="panel callout radius">
        			<div>
        				<h5>Item Name</h5>
        				<p>{{ product.name }}</p>
        				<h6 class="subheader">${{ product.price }}</h6>
        				<input type="text" name="qty" value="{{ product.count }}">
        				<div class="button update-qty" ng-click="vm.updateQty($event, product)">Update Qty</div>
        				<div class="button alert remove-item" ng-click="vm.removeItem(product.name)">Remove Item</div>
        			</div>
        		</div>

          </div>
        </div>
      </div>
    </div>
      
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  </body>
</html>
